.container {
  width: 100%;
  padding-bottom: 4rem;
  background-color: #fffaf8;
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inner_container {
  width: 90vw;
  max-width: 1290px;
}
.boka_title {
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.boka_title h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49.18px;
  color: #02323d;
}
.boka_title button {
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid #ff914d;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  line-height: 21.86px;
  color: #ff914d;
}
.boka_details {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.boka_details_images {
  width: 878px;
  height: 417px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  position: relative;
}

.boka_details_images .before_true {
  position: absolute;
  z-index: 1;
  bottom: 2.5%;
  left: 5%;
  color: #fff;
}
.boka_details_images .after_false{
  display: none;
}.boka_details_images .before_false{
  display: none;
}
.boka_details_images .after_true {
  position: absolute;
  z-index: 1;
  top: 2.5%;
  right: 5%;
}
.boka_details_images img {
  width: 878px;
  height: 417px;
  object-fit: cover;
  border-radius: 32px;
}

.boka_details_profile {
  width: 297px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.boka_story_image {
  display: flex;
  gap: 8px;
}
.boka_story_image div {
  border-radius: 50%;
  border: 1px solid #ff914d;
  display: flex;
}
.boka_story_image div img {
  border-radius: 50%;
  object-fit: cover;
}
.boka_story_image p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boka_details_profile p:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.2px;
  color: #17505c;
}
.boka_details_profile p:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.boka_details_profile p:nth-child(2) strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #17505c;
  margin: 0;
}

.boka_details_profile p:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
  line-height: 16.3px;
  color: #6b7c80;
  margin-top: 0;
}
.boka_details_profile p:nth-child(3) {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.3px;
  color: #ff914d;
  margin-top: 4px;
}

@media (max-width: 1350px) {
  .boka_details {
    justify-content: center;
    align-items: center;
    padding: 16px 0;
  }

  .boka_details_images img {
    width: 90vw;
  }
  .boka_details_profile {
    margin-top: 1rem;
    width: 90vw;
  }
}
