@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.label__right {
  top: 15% !important;
  right: 5% !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  background-color: transparent !important;
  line-height: 49px !important;
  box-shadow: none !important;
  border: none !important;
  color: #02323d !important;
}
.label__text {
  color: #02323d !important;
  background-color: transparent !important;
  box-shadow: none !important;
  line-height: 49px !important;
  top: 80% !important;
  left: 15% !important;
  font-weight: 700 !important;
  font-size: 36px !important;
}
