.container {
  height: 950px;
  background-color: #fffaf8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.offer_list_container {
  max-width: 1290px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_container {
  max-width: 1290px;
  width: 95vw;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ads_box {
  width: 90vw;
  max-width: 1290px;
  height: 280px;
  border-radius: 16px;
  background-color: #ffe9db;
  margin-top: 75px;
  position: relative;
}
.ads_box > * {
  width: 200px;
  height: 90px;
  padding: 5px;
}

.mother_icon {
  position: absolute;
  right: 58px;
  top: -12px;
}
.ads_title {
  position: absolute;
  top: 15%;
  left: 25%;
  text-align: start;
  white-space: nowrap;
}

.ads_title > h1 {
  width: 575px;
  height: 47px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49.8px;
  color: #02323d;
}
.ads_title > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #02323d;
}
.love_icons {
  position: absolute;
  left: 0;
}
.love_icons :nth-child(1) > * {
  left: 147px;
}
.love_icons :nth-child(2) > * {
  left: 30px;
  top: -25px;
}
.title {
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
  height: 49px;
  margin-top: 1rem;
  align-items: center;
}
.title_text > h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #02323d;
}
.title_slide_icons {
  display: flex;
}
.viewall_button {
  margin: 0 38px;
  height: 49px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewall_button button {
  background-color: transparent;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  color: #ff914d;
}

.arrows_container {
  width: 60px;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offerlist_container {
  height: 462px;
  max-width: 1290px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.offerbox_container {
  width: 300px;
  min-width: 300px;
  height: 462px;
  border-radius: 8px;
  border: 1px solid #edf3f4;
  margin: 0 15px;
  transition: all 1s ease-in-out;
}
.offerbox_image img {
  border-radius: 8px;
}
.offerbox_container:hover {
  transform: translateY(-1%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.offerbox_details {
  width: 268px;
  height: 186px;
  margin: 15px 16px 0;
}
.offerbox_price {
  width: 268px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 16px 53px;
}
.offerbox_price p {
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 19.1px;
  color: #17505c;
}
.offerbox_price_details {
  width: 106px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offerbox_price_details span {
  text-decoration: line-through;
  margin-bottom: -15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24.59px;
  color: #17505c;
}
.offerbox_price_details h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 24.59px;
  color: #02323d;
}
.offerbox_price_details h2 > span {
  background-color: #eb5757;
  text-decoration: none;
  width: 34px;
  height: 20px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16.4px;
  margin-left: 2px;
}
.offerbox_details_title > h1 {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24.59px;
  color: #02323d;
}
.reviews_star {
  display: inline;
}
.offerbox_details_title {
  font-weight: 500;
  font-size: 14px;
  color: #17505c;
}
.offerbox_location {
  height: 38px;
  margin-top: 12px;
  display: flex;
}
.offerbox_location p {
  font-weight: 400;
  font-size: 13px;
  color: #02323d;
  line-height: 18.2px;
  display: flex;
  flex-direction: column;
  width: 231px;
  justify-content: center;
}
.offerbox_location p strong {
  font-weight: 500;
  font-size: 14px;
}
.offerbox_services {
  width: 268px;
  height: 76px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.offerbox_services_type {
  width: 268px;
  height: 34px;
  max-height: 34px;
  display: flex;
  align-items: center;
}
.offerbox_services_time {
  width: 268px;
  height: 34px;
  max-height: 34px;
}
.offerbox_services_type .type_button_arrow {
  position: absolute;
  right: 0;
  width: 38px;
  height: 34px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.603) 0%,
    #fff 100%
  );
  z-index: 9;
}
.type_button_container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  z-index: 3;
}
.type_button_container > * {
  background-color: rgba(237, 243, 244, 0.8);
  height: 34px;
  border: none;
  padding: 6px 17px;
  margin: 0 8px;
  border-radius: 8px;
  line-height: 19.12px;
  font-weight: 500;
  color: #17505c;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}
.type_button_container :nth-child(1) {
  background-color: #ff914d;
  height: 34px;
  border: none;
  padding: 6px 17px;
  margin: 0 8px;
  font-weight: 600;
  color: #000;
  margin-left: 0;
}
.offerbox_services_time {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.offerbox_services_time > * {
  background-color: rgba(237, 243, 244, 0.8);
  height: 34px;
  border-radius: 8px;
  padding: 10px;
  margin-left: 8px;
  border: none;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  color: #17505c;
}
.offerbox_services_time :nth-child(1) {
  margin-left: 0px;
}

@media (max-width: 1350px) {
  .ads_title h1 {
    font-size: 26px;
  }
  .ads_title p {
    font-size: 16px;
  }
}
@media (max-width: 445px) {
  .title_text h1 {
    font-size: 30px;
    white-space: nowrap;
  }
}
@media (max-width: 320px) {
  .viewall_button {
    white-space: nowrap;
    display: none;
  }
}
