.container {
  margin-top: 120px;
  background-color: #e3ecee;
  height: 185px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.union span:nth-child(1) {
  width: 320px;
  height: 320px;
  border: 25px solid #ffffff60;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: -5%;
}
.union span:nth-child(2) {
  width: 185px;
  height: 185px;
  border: 20px solid #ffffff60;
  border-radius: 50%;
  position: absolute;
  top: -35%;
  left: -5%;
}
.inner_container {
  width: 90vw;
  max-width: 1147.28px;
  height: 54px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inner_container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
