.container {
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_container {
  width: 90vw;
  max-width: 1288px;
}
.category_title {
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.category_title h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49.18px;
  color: #02323d;
}
.category_title button {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #ff914d;
  background-color: #fff;
  border: none;
}
.category_image {
  max-width: 1290px;
  display: flex;
  gap: 30px;
}
.single_image_container {
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: all 1s ease-out;
}
.single_image_container img {
  object-fit: fill;
  height: 100%;
}
.single_image_container:hover {
  transform: scale(1.1);
}

.layer {
  background-image: linear-gradient(to top, #000, transparent);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 8px;
}
.single_details {
  align-items: center;
}
.arrow_left_container {
  width: 50px;
  height: 50px;
  background-color: #ff914d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  display: none;
}
.single_image {
  width: 629px;
  display: flex;
}
.single_details {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 0 30px;
}
.single_image_container:hover .arrow_left_container {
  display: flex;
}

.single_details p {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.single_details p > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.grid_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 630px;
}

.grid_image div {
  position: relative;
  transition: all 1s ease-out;
  cursor: pointer;
  height: 180px;
}
.grid_image div:hover {
  transform: scale(1.1);
}

.grid_layer {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #000, transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 8px;
}

.grid_image div > h2 {
  position: absolute;
  bottom: -5px;
  left: 20px;
  z-index: 1;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  width: 112px;
  height: 36px;
  white-space: nowrap;
}

@media (max-width: 1250px) {
  .category_image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 750px) {
  .category_image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .single_image,
  .grid_image {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 570px) {
  .category_title h1 {
    font-size: 30px;
  }
}
@media (max-width: 465px) {
  .category_title h1 {
    font-size: 24px;
    white-space: nowrap;
  }
}
