.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 119px 0 100px 0;
}
.inner_container {
  width: 100vw;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 159px 0 159px;
}
.slider_arrow {
  padding: 25px;
}

.slider_holder {
  width: 90vw;
  height: 140px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.slider_holder > * {
  min-width: 12vw;
}
.swiper {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
.story_text {
  text-align: center;
  padding: 5px 0 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  color: #02323d;
}
