.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0 100px 0;
}
.inner_container {
  width: 90vw;
  height: 140px;
  max-width: 1290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story_text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  color: #02323d;
}

.stories_container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 85vw;
}
.Story_holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 141px;
  height: 125px;
  padding: 0;
}
.image_story {
  display: flex;
  align-items: center;
}
.Story_holder p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  color: #02323d;
}
.disabled_left {
  pointer-events: none;
  cursor: not-allowed;
}
.enabled_left {
  cursor: pointer;
}
.disabled_right {
  pointer-events: none;
  cursor: not-allowed;
}
.enabled_right {
  cursor: pointer;
}
